*
!*/
!.gitignore

!ownpkglist.txt
!.xinitrc
!.xresources
!.profile
!.bashrc
!.mouse_settings.sh
!afterinstallscript
!helpful_libs.txt

!ownstbuild/**
!ownslstatusbuild/**
!owndwmbuild/**
!owndmenubuild/**
!background/**
!.moc/**
!.config/cataclysm-dda/**
!.config/htop/**
!.config/kitty/**
!.config/neofetch/**
!.config/pcmanfm/**
!.config/Vieb/**
!.config/vifm/**
!.config/vlc/**
!.config/xnviewmp/**
!.config/.vimrc
!.config/krita*
!.config/starship.toml
