/**
!.gitignore

!ownpkglist.txt
!.xinitrc
!.Xresources
!.profile
!.bashrc
!.mouse_settings.sh
!afterinstallscript
!helpful_libs.txt
!.bash_aliases
!.vimrc

!ownstbuild/**
!ownslstatusbuild/**
!owndwmbuild/**
!owndmenubuild/**
!background/**
!.local/share/krita/input/**
!.local/share/krita/preset_icons/**
!.local/share/krita/workspaces/**
!.moc/config
!.vim/**
!.config/rofi/**
!.config/qtile/config.py
!.config/cataclysm-dda/**
!.config/htop/**
!.config/kitty/**
!.config/neofetch/**
!.config/pcmanfm/**
!.config/vifm/vifmrc
!.config/vlc/**
!.config/GIMP/**
!.config/xnviewmp/**
!.config/krita*
!.config/starship.toml
